In [1]:
import os
import json
from glob import glob
import pandas as pd
from pathlib import Path

In [2]:
folder = '/home/owaismujtaba/projects/mind-voice/results/BadChannels'

In [3]:
files = glob(os.path.join(folder, '*.json'))
files

['/home/owaismujtaba/projects/mind-voice/results/BadChannels/sub-02_ses-01_bads.json',
 '/home/owaismujtaba/projects/mind-voice/results/BadChannels/sub-09_ses-02_bads.json',
 '/home/owaismujtaba/projects/mind-voice/results/BadChannels/sub-04_ses-02_bads.json',
 '/home/owaismujtaba/projects/mind-voice/results/BadChannels/sub-08_ses-01_bads.json',
 '/home/owaismujtaba/projects/mind-voice/results/BadChannels/sub-06_ses-02_bads.json',
 '/home/owaismujtaba/projects/mind-voice/results/BadChannels/sub-04_ses-01_bads.json',
 '/home/owaismujtaba/projects/mind-voice/results/BadChannels/sub-05_ses-02_bads.json',
 '/home/owaismujtaba/projects/mind-voice/results/BadChannels/sub-13_ses-01_bads.json',
 '/home/owaismujtaba/projects/mind-voice/results/BadChannels/sub-07_ses-01_bads.json',
 '/home/owaismujtaba/projects/mind-voice/results/BadChannels/sub-06_ses-01_bads.json',
 '/home/owaismujtaba/projects/mind-voice/results/BadChannels/sub-12_ses-02_bads.json',
 '/home/owaismujtaba/projects/mind-voice/results/BadChannels/sub-11_ses-01_bads.json',
 '/home/owaismujtaba/projects/mind-voice/results/BadChannels/sub-01_ses-01_bads.json',
 '/home/owaismujtaba/projects/mind-voice/results/BadChannels/sub-05_ses-01_bads.json',
 '/home/owaismujtaba/projects/mind-voice/results/BadChannels/sub-15_ses-01_bads.json',
 '/home/owaismujtaba/projects/mind-voice/results/BadChannels/sub-14_ses-01_bads.json',
 '/home/owaismujtaba/projects/mind-voice/results/BadChannels/sub-13_ses-02_bads.json',
 '/home/owaismujtaba/projects/mind-voice/results/BadChannels/sub-10_ses-01_bads.json',
 '/home/owaismujtaba/projects/mind-voice/results/BadChannels/sub-03_ses-01_bads.json',
 '/home/owaismujtaba/projects/mind-voice/results/BadChannels/sub-15_ses-02_bads.json',
 '/home/owaismujtaba/projects/mind-voice/results/BadChannels/sub-09_ses-01_bads.json',
 '/home/owaismujtaba/projects/mind-voice/results/BadChannels/sub-12_ses-01_bads.json']

In [4]:
subjects, sessions, bad_channels = [], [], []
for file in files:
    with open(file, 'r') as f:
        data = json.load(f)
    subject_id = Path(file).stem.split('_')[0]
    session_id = Path(file).stem.split('_')[1]
    subjects.append(subject_id)
    sessions.append(session_id)
    bad_channels.append(len(data))

In [5]:
data = pd.DataFrame({
    'Subject': subjects,
    'Session': sessions,
    'Bad Channels': bad_channels
})
data.sort_values(by=['Subject', 'Session'], inplace=True)
data

   Subject Session  Bad Channels
12  sub-01  ses-01             4
0   sub-02  ses-01             4
18  sub-03  ses-01             0
5   sub-04  ses-01             2
2   sub-04  ses-02             1
13  sub-05  ses-01             4
6   sub-05  ses-02             1
9   sub-06  ses-01             4
4   sub-06  ses-02             2
8   sub-07  ses-01             3
3   sub-08  ses-01             0
20  sub-09  ses-01             2
1   sub-09  ses-02             0
17  sub-10  ses-01             0
11  sub-11  ses-01             0
21  sub-12  ses-01             0
10  sub-12  ses-02             1
7   sub-13  ses-01             0
16  sub-13  ses-02             0
15  sub-14  ses-01             0
14  sub-15  ses-01             1
19  sub-15  ses-02             1

In [29]:
import os
from pathlib import Path
import pandas as pd
bids = 'BIDS'

In [55]:
def get_info(trials):
    experimental = [t for t in trials if 'Experiment' in t]
    temp = [t for t in experimental if 'ISI' not in t]
    temp = [t for t in temp if 'ITI' not in t]
    temp = [t for t in temp if 'Fixation' not in t]
    temp = [t for t in temp if 'End' not in t]
    covert = len([t for t in temp if 'Silent' in t])
    words = len([ t for t in temp if 'Words' in t])
    syllabels = len([t for t in temp if 'Syllables' in t])
    overt = len([t for t in temp if 'Real' in t])
    audio = len([t for t in temp if 'Audio' in t])
    text = len([t for t in temp if 'Text' in t])
    pictorial = len([t for t in temp if 'Picture' in t])
    
    return [covert, overt, syllabels, words, audio, text, pictorial]

In [56]:
from pathlib import Path
import os

results = []
subjects = [
    d for d in os.listdir(bids)
    if os.path.isdir(os.path.join(bids, d)) and d.startswith('sub')
]

for subject in subjects:
    sub_folder = Path(bids, subject)

    sessions = [
        d for d in os.listdir(sub_folder)
        if os.path.isdir(os.path.join(sub_folder, d)) and d.startswith('ses')
    ]

    for ses in sessions:
        eeg_folder = Path(sub_folder, ses, 'eeg')
        path = Path(eeg_folder, f'{subject}_{ses}_task-VCV_run-01_events.tsv')
        data = pd.read_csv(path, delimiter='\t')
        trials = data['trial_type']
        res = get_info(trials)
        res.append(subject)
        res.append(ses)
        results.append(res)
        print(path)

BIDS/sub-05/ses-02/eeg/sub-05_ses-02_task-VCV_run-01_events.tsv
BIDS/sub-05/ses-01/eeg/sub-05_ses-01_task-VCV_run-01_events.tsv
BIDS/sub-10/ses-01/eeg/sub-10_ses-01_task-VCV_run-01_events.tsv
BIDS/sub-12/ses-02/eeg/sub-12_ses-02_task-VCV_run-01_events.tsv
BIDS/sub-12/ses-01/eeg/sub-12_ses-01_task-VCV_run-01_events.tsv
BIDS/sub-03/ses-01/eeg/sub-03_ses-01_task-VCV_run-01_events.tsv
BIDS/sub-09/ses-02/eeg/sub-09_ses-02_task-VCV_run-01_events.tsv
BIDS/sub-09/ses-01/eeg/sub-09_ses-01_task-VCV_run-01_events.tsv
BIDS/sub-08/ses-01/eeg/sub-08_ses-01_task-VCV_run-01_events.tsv
BIDS/sub-06/ses-02/eeg/sub-06_ses-02_task-VCV_run-01_events.tsv
BIDS/sub-06/ses-01/eeg/sub-06_ses-01_task-VCV_run-01_events.tsv
BIDS/sub-07/ses-01/eeg/sub-07_ses-01_task-VCV_run-01_events.tsv
BIDS/sub-14/ses-01/eeg/sub-14_ses-01_task-VCV_run-01_events.tsv
BIDS/sub-04/ses-02/eeg/sub-04_ses-02_task-VCV_run-01_events.tsv
BIDS/sub-04/ses-01/eeg/sub-04_ses-01_task-VCV_run-01_events.tsv
BIDS/sub-13/ses-02/eeg/sub-13_ses-02_task-VCV_run-01_events.tsv
BIDS/sub-13/ses-01/eeg/sub-13_ses-01_task-VCV_run-01_events.tsv
BIDS/sub-15/ses-02/eeg/sub-15_ses-02_task-VCV_run-01_events.tsv
BIDS/sub-15/ses-01/eeg/sub-15_ses-01_task-VCV_run-01_events.tsv
BIDS/sub-01/ses-01/eeg/sub-01_ses-01_task-VCV_run-01_events.tsv
BIDS/sub-11/ses-01/eeg/sub-11_ses-01_task-VCV_run-01_events.tsv
BIDS/sub-02/ses-01/eeg/sub-02_ses-01_task-VCV_run-01_events.tsv

In [57]:

results

[[910, 910, 800, 1020, 780, 780, 260, 'sub-05', 'ses-02'],
 [910, 910, 800, 1020, 780, 780, 260, 'sub-05', 'ses-01'],
 [910, 910, 800, 1020, 780, 780, 260, 'sub-10', 'ses-01'],
 [910, 910, 800, 1020, 780, 780, 260, 'sub-12', 'ses-02'],
 [910, 910, 800, 1020, 780, 780, 260, 'sub-12', 'ses-01'],
 [910, 910, 800, 1020, 780, 780, 260, 'sub-03', 'ses-01'],
 [910, 910, 800, 1020, 780, 780, 260, 'sub-09', 'ses-02'],
 [910, 910, 800, 1020, 780, 780, 260, 'sub-09', 'ses-01'],
 [910, 910, 800, 1020, 780, 780, 260, 'sub-08', 'ses-01'],
 [910, 911, 800, 1021, 781, 780, 260, 'sub-06', 'ses-02'],
 [910, 910, 800, 1020, 780, 780, 260, 'sub-06', 'ses-01'],
 [910, 910, 800, 1020, 780, 780, 260, 'sub-07', 'ses-01'],
 [910, 910, 800, 1020, 780, 780, 260, 'sub-14', 'ses-01'],
 [910, 910, 800, 1020, 780, 780, 260, 'sub-04', 'ses-02'],
 [910, 910, 800, 1020, 780, 780, 260, 'sub-04', 'ses-01'],
 [910, 910, 800, 1020, 780, 780, 260, 'sub-13', 'ses-02'],
 [910, 910, 800, 1020, 780, 780, 260, 'sub-13', 'ses-01'],
 [257, 270, 0, 527, 203, 202, 122, 'sub-15', 'ses-02'],
 [910, 910, 800, 1020, 780, 780, 260, 'sub-15', 'ses-01'],
 [910, 910, 800, 1020, 780, 780, 260, 'sub-01', 'ses-01'],
 [910, 910, 800, 1020, 780, 780, 260, 'sub-11', 'ses-01'],
 [910, 910, 800, 1020, 780, 780, 260, 'sub-02', 'ses-01']]

In [58]:
data = pd.DataFrame(results, columns=['covert', 'overt', 'syllabels', 'words', 'audio', 'text', 'pictorial', 'sub', 'ses'])

In [60]:

data.sort_values(by=['sub', 'ses'])

    covert  overt  syllabels  words  audio  text  pictorial     sub     ses
19     910    910        800   1020    780   780        260  sub-01  ses-01
21     910    910        800   1020    780   780        260  sub-02  ses-01
5      910    910        800   1020    780   780        260  sub-03  ses-01
14     910    910        800   1020    780   780        260  sub-04  ses-01
13     910    910        800   1020    780   780        260  sub-04  ses-02
1      910    910        800   1020    780   780        260  sub-05  ses-01
0      910    910        800   1020    780   780        260  sub-05  ses-02
10     910    910        800   1020    780   780        260  sub-06  ses-01
9      910    911        800   1021    781   780        260  sub-06  ses-02
11     910    910        800   1020    780   780        260  sub-07  ses-01
8      910    910        800   1020    780   780        260  sub-08  ses-01
7      910    910        800   1020    780   780        260  sub-09  ses-01
6      910    910        800   1020    780   780        260  sub-09  ses-02
2      910    910        800   1020    780   780        260  sub-10  ses-01
20     910    910        800   1020    780   780        260  sub-11  ses-01
4      910    910        800   1020    780   780        260  sub-12  ses-01
3      910    910        800   1020    780   780        260  sub-12  ses-02
16     910    910        800   1020    780   780        260  sub-13  ses-01
15     910    910        800   1020    780   780        260  sub-13  ses-02
12     910    910        800   1020    780   780        260  sub-14  ses-01
18     910    910        800   1020    780   780        260  sub-15  ses-01
17     257    270          0    527    203   202        122  sub-15  ses-02